{% extends "base.html" %}

{% block title %}报告案例展示{% endblock %}

{% block content %}

    <section id="home">
        <h2>欢迎来到移民规划服务</h2>
        <p>帮助中国大陆用户定制移民加拿大的个性化规划报告。</p>
        
        <a href="case_page" class="btn">查看报告案例</a> <!-- 案例链接按钮 -->
        <br><br>
        <a href="form" class="btn">立即开始填写问卷</a> <!-- 问卷填写按钮 -->
    </section>

    <section id="about">
        <h2>关于我们</h2>
        <p>我们专注于为有移民加拿大意向的用户提供个性化的移民规划报告。</p>
    </section>

    <section id="contact">
        <h2>联系我们</h2>
        <p>如有任何问题，请通过电子邮件联系我们。</p>
    </section>

    {% endblock %}
