{% extends "base.html" %}

{% block title %}报告案例展示{% endblock %}

{% block content %}

    <section id="login">
        <h2>登录到您的账户</h2>
        <form id="loginForm" action="/login" method="POST">
            <label for="email">电子邮件：</label>
            <input type="email" id="email" name="email" required>

            <label for="password">密码：</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="登录">
        </form>
    </section>

    {% endblock %}